#Secrets
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

#Credentials Database
POSTGRES_PASS=
POSTGRES_USER=
POSTGRES_DB=

#Credentials Email
EMAIL_API_KEY=
EMAIL_NO_REPLY=

#Database URL
DATABASE_URL=